<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="default" value="Server=c464b8ee-1a95-418b-a333-a36400b0222c.sqlserver.sequelizer.com;Database=dbc464b8ee1a95418ba333a36400b0222c;User ID=luyvdsuskzwrqrut;Password=pVPLhkANTR6pSYGz82ffRWFYdZZD8xNyspVCRxUputexUFaHvBRVKRdzoYHpt6Pu;"/>
  </appSettings>
</configuration>
